In [2]:
#Exclusão de tabelas e Tratamento dos dados:
#Importa o pandas:
#Instala o pandas, use esse comando no terminal: pip install --user pandas
import pandas as pd

In [3]:
#Importa os dados do kaggle, baixados na máquina e envia para o arquivo do jupyter:
dados = pd.read_csv('Pokemon.csv', index_col=0)

In [4]:
#Para ter acesso aos dados:
dados.info

<bound method DataFrame.info of                       Name   Type 1  Type 2  Total  HP  Attack  Defense  \
#
1                Bulbasaur    Grass  Poison    318  45      49       49
2                  Ivysaur    Grass  Poison    405  60      62       63
3                 Venusaur    Grass  Poison    525  80      82       83
3    VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4               Charmander     Fire     NaN    309  39      52       43
..                     ...      ...     ...    ...  ..     ...      ...
719                Diancie     Rock   Fairy    600  50     100      150
719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
#
1         65       65     45           1      False
2         80       80     60           1      False
3        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
719      100      150     50           6       True
719      160      110    110           6       True
720      150      130     70           6       True
720      170      130     80           6       True
721      130       90     70           6       True

[800 rows x 12 columns]>

In [5]:
#Excluir as tabelas que não iremos utilizar:
dados.drop('Total', axis = 1, inplace=True)
dados.drop('Sp. Atk', axis = 1, inplace=True)
dados.drop('Sp. Def', axis = 1, inplace=True)
dados.drop('Generation', axis = 1, inplace=True)
dados.drop('Legendary', axis = 1, inplace=True)

In [6]:
#Para verificar se possui algum valor vazio:
dados.isna().any()

Name       False
Type 1     False
Type 2      True
HP         False
Attack     False
Defense    False
Speed      False
dtype: bool

In [7]:
#Alterar símbolo de um caractere especial, para não dar erro:
#Comando para observar nas linhas:
dados.loc[[29,32]]

        Name  Type 1 Type 2  HP  Attack  Defense  Speed
#
29  Nidoran♀  Poison    NaN  55      47       52     41
32  Nidoran♂  Poison    NaN  46      57       40     50

In [8]:
#Comando para renomear:
new_dados = pd.DataFrame({'Name': ['Nidoran_female', 'Nidoran_male']}, index=[29, 32])

In [10]:
dados.update(new_dados)

In [11]:
#Para verificar se as alterações foram realizadas:
dados.loc[[29, 32]]

              Name  Type 1 Type 2  HP  Attack  Defense  Speed
#
29  Nidoran_female  Poison    NaN  55      47       52     41
32    Nidoran_male  Poison    NaN  46      57       40     50

In [12]:
#Selecionar o Name como Index, para deletar os dados '#' que está como index atual.
dados.set_index('Name', inplace=True)

In [13]:
#Salvar alterações nos dados:
dados.head()

                      Type 1  Type 2  HP  Attack  Defense  Speed
Name
Bulbasaur              Grass  Poison  45      49       49     45
Ivysaur                Grass  Poison  60      62       63     60
Venusaur               Grass  Poison  80      82       83     80
VenusaurMega Venusaur  Grass  Poison  80     100      123     80
Charmander              Fire     NaN  39      52       43     65

In [14]:
#Para salvar as alterações feitas da exclusão das tabelas:
dados.to_csv('Pokemon_alterados.csv')